<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <meta name="copyright" content="Copyright (c) 水车 2016">
    <meta name="Keywords" content="花之吻，关于我们">
    <meta name="description" content="花之吻（KISS FLOVE）美容连锁集团是一家专业从事女子SPA会所连锁经营大型集团公司">
    <link rel="stylesheet" href="../../../res/css/self.css">
    <title>个人中心</title>
</head>
<body>
<header>
    <img src="../../../res/images/about/logo.png" alt="logo">
</header>
<ul class="item">

    <li id="invite" class="fold">
        <a href="./invite">
            <p class="title">邀请好友</p>
            <div class="icon-foot-left">
                <i class="iconfont-left icon-yaoqinghaoyou"></i>
            </div>
            <div class="icon-foot-right">
                <i class="iconfont icon-zhankai"></i>
            </div>
        </a>
    </li>
    <li class="fold">
        <a href="./coupon">
            <p class="title">优惠券<span class="float-right"><b>3</b>张</span></p>
        </a>
        <div class="icon-foot-left">
            <i class="iconfont-left icon-wodeyouhuijuan"></i>
        </div>
        <div class="icon-foot-right">
            <i class="iconfont icon-zhankai"></i>
        </div>
    </li>
    <li class="fold">
        <a href="/score">
            <p class="title">我的积分<span class="float-right"><b>+520</b></span></p>
        </a>
        <div class="icon-foot-left">
            <i class="iconfont-left icon-wodejifen"></i>
        </div>
        <div class="icon-foot-right">
            <i class="iconfont icon-zhankai"></i>
        </div>
    </li>
    <li class="fold">
        <a href="./changePhone">
            <p class="title">修改注册电话</p>
        </a>
        <div class="icon-foot-left">
            <i class="iconfont-left icon-xiugai"></i>
        </div>
        <div class="icon-foot-right">
            <i class="iconfont icon-zhankai"></i>
        </div>
    </li>
    <li class="fold">
        <a href="./feedback">
            <p class="title">意见反馈</p>
        </a>
        <div class="icon-foot-left">
            <i class="iconfont-left icon-yijianfankui"></i>
        </div>
        <div class="icon-foot-right">
            <i class="iconfont icon-zhankai"></i>
        </div>
    </li>
</ul>
<footer>
    <p>创美集团 版权所有</p>
    <p>Copyright&copy;2015-2016 CMJT</p>
    <p>All Rights Reserved</p>
</footer>
<!--<div id="invite-layer" class="invite-layer">
</div>-->
</body>
<script>
   /* window.onload = function () {
        var oInvite = document.querySelector('#invite');
        var oInviteLayer = document.querySelector('#invite-layer');
        oInvite.addEventListener('touchstart', function () {
            oInviteLayer.style.display= 'block';
            oInviteLayer.style.opacity = 1;
        },false)
        oInviteLayer.addEventListener('touchstart', function (event) {
            oInviteLayer.style.opacity = 0;
            setTimeout(function () {
                oInviteLayer.style.display= 'none';
            },500)
        })
    }*/
</script>
</html>