<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <meta name="copyright" content="Copyright (c) 水车 2016">
    <meta name="Keywords" content="花之吻，周期护理">
    <meta name="description" content="花之吻（KISS FLOVE）美容连锁集团是一家专业从事女子SPA会所连锁经营大型集团公司">
    <title>我的周期护理</title>
    <link rel=" stylesheet" href = '../../../res/css/follow.css'>
    <!-- <link rel="stylesheet" type="text/css" href="at.alicdn.com/t/font_1456386232_3118882.css"> -->
    <style>
        .text{
        }
        .text p{
            margin-left:10px;
            color: #ffa1f2;
            line-height: 30px;
        }
        footer img{
            display: block;
        }
        a{
            text-decoration: none;
            color: red;
        }
    </style>
</head>
<body>
<header>

</header>
<article>
    <img src="../../../res/images/follow/2.jpg" alt="">
</article>
<div class="text">
    <p>【指纹识别，<a href="">关注我们</a>给你新的自己！】</p>
</div>
<footer>
    <img src="../../../res/images/follow/3.png" alt="">
    <img src="../../../res/images/follow/link.gif" alt="">
</footer>
</body>
</html>