<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <meta name="copyright" content="Copyright (c) 水车 2016">
    <meta name="Keywords" content="花之吻，关于我们">
    <meta name="description" content="花之吻（KISS FLOVE）美容连锁集团是一家专业从事女子SPA会所连锁经营大型集团公司">
    <link rel="stylesheet" href="../../../res/css/orderList.css">
    <script src="../../../res/js/zepto.min.1.1.6.js"></script>
    <script>
        var $html = $('html');
        $html.css('font-size',$html.width()/12)
    </script>
    <title>全部订单</title>
</head>
<body style="font-size: 16px;">
<header>
    <img src="../../../res/images/orderList/banner.jpg" alt="">
</header>
<nav>
    <ul class="navBar">
        <li class="navList"><span>进行中(1)</span></li>
        <li class="navList"><span class="bottomLine">待评价(2)</span></li>
        <li class="navList"><span>已结单(3)</span></li>
    </ul>
</nav>

<article>
    <section class="ifromWarp">
        <ul class="lists  js-show">
            <li class="orderList">
                <dl>
                    <dt class="address"><i class="iconfont icon-dianpu"></i>店名</dt>
                    <dd  class="orderName">
                        <a href="./orderInfo">
                            <img src="../../../res/images/orderList/1b.png" alt="">
                            <div class="information">
                                <!--如果不是套餐就把套餐名称滞空-->
                                <p title="套餐名称">7360套餐1</p>
                                <p title="项目名称">项目名称</p>
                                <p>服务时间:3-5 10:22:10</p>
                                <p>订单状态:正在进行中</p>
                                <p>评价:服务特别好，很喜欢这次的体验，据对好评！</p>
                            </div>
                        </a>
                    </dd>
                    <dd class="orderBottom">
                        <p class="money">实付款:<span class="moneyIcon">¥</span><span class="moneyNum">54</span><span class="moneyIcon">.00</span></p>
                        <a href="" class="buyAgain">再次预约</a>
                        <a href="./evaluation" class="evaluate">订单评价</a>
                        <a href="./orderInfo" class="info">订单详情</a>
                    </dd>
                </dl>
            </li>
            <li class="orderList">
                <dl>
                    <dt class="address"><i class="iconfont icon-dianpu"></i>店名</dt>
                    <dd  class="orderName">
                        <a href="./orderInfo">
                            <img src="../../../res/images/orderList/1b.png" alt="">
                            <div class="information">
                                <!--如果不是套餐就把套餐名称滞空-->
                                <p title="套餐名称">7360套餐</p>
                                <p title="项目名称">项目名称</p>
                                <p>服务时间:3-5 10:22:10</p>
                                <p>订单状态:正在进行中</p>
                                <p>评价:服务特别好，很喜欢这次的体验，据对好评！</p>
                            </div>
                        </a>
                    </dd>
                    <dd class="orderBottom">
                        <p class="money">实付款:<span class="moneyIcon">¥</span><span class="moneyNum">54</span><span class="moneyIcon">.00</span></p>
                        <a href="" class="buyAgain">再次预约</a>
                        <a href="./orderInfo" class="info">订单详情</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul style="display: block" class="lists  js-show">
            <li class="orderList">
                <dl>
                    <dt class="address"><i class="iconfont icon-dianpu"></i>店名</dt>
                    <dd  class="orderName">
                        <a href="./orderInfo">
                            <img src="../../../res/images/orderList/1b.png" alt="">
                            <div class="information">
                                <!--如果不是套餐就把套餐名称滞空-->
                                <p title="套餐名称">7360套餐2</p>
                                <p title="项目名称">项目名称</p>
                                <p>服务时间:3-5 10:22:10</p>
                                <p>订单状态:正在进行中</p>
                                <p>评价:服务特别好，很喜欢这次的体验，据对好评！</p>
                            </div>
                        </a>
                    </dd>
                    <dd class="orderBottom">
                        <p class="money">实付款:<span class="moneyIcon">¥</span><span class="moneyNum">54</span><span class="moneyIcon">.00</span></p>
                        <a href="" class="buyAgain">再次预约</a>
                        <a href="./evaluation" class="evaluate">订单评价</a>
                        <a href="./orderInfo" class="info">订单详情</a>
                    </dd>
                </dl>
            </li>
            <li class="orderList">
                <dl>
                    <dt class="address"><i class="iconfont icon-dianpu"></i>店名</dt>
                    <dd  class="orderName">
                        <a href="./orderInfo">
                            <img src="../../../res/images/orderList/1b.png" alt="">
                            <div class="information">
                                <!--如果不是套餐就把套餐名称滞空-->
                                <p title="套餐名称">7360套餐</p>
                                <p title="项目名称">项目名称</p>
                                <p>服务时间:3-5 10:22:10</p>
                                <p>订单状态:正在进行中</p>
                                <p>评价:服务特别好，很喜欢这次的体验，据对好评！</p>
                            </div>
                        </a>
                    </dd>
                    <dd class="orderBottom">
                        <p class="money">实付款:<span class="moneyIcon">¥</span><span class="moneyNum">54</span><span class="moneyIcon">.00</span></p>
                        <a href="" class="buyAgain">再次预约</a>
                        <a href="./orderInfo" class="info">订单详情</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="lists  js-show">
            <li class="orderList">
                <dl>
                    <dt class="address"><i class="iconfont icon-dianpu"></i>店名</dt>
                    <dd  class="orderName">
                        <a href="./orderInfo">
                            <img src="../../../res/images/orderList/1b.png" alt="">
                            <div class="information">
                                <!--如果不是套餐就把套餐名称滞空-->
                                <p title="套餐名称">7360套餐3</p>
                                <p title="项目名称">项目名称</p>
                                <p>服务时间:3-5 10:22:10</p>
                                <p>订单状态:正在进行中</p>
                                <p>评价:服务特别好，很喜欢这次的体验，据对好评！</p>
                            </div>
                        </a>
                    </dd>
                    <dd class="orderBottom">
                        <p class="money">实付款:<span class="moneyIcon">¥</span><span class="moneyNum">54</span><span class="moneyIcon">.00</span></p>
                        <a href="" class="buyAgain">再次预约</a>
                        <a href="./evaluation" class="evaluate">订单评价</a>
                        <a href="./orderInfo" class="info">订单详情</a>
                    </dd>
                </dl>
            </li>
            <li class="orderList">
                <dl>
                    <dt class="address"><i class="iconfont icon-dianpu"></i>店名</dt>
                    <dd  class="orderName">
                        <a href="./orderInfo">
                            <img src="../../../res/images/orderList/1b.png" alt="">
                            <div class="information">
                                <!--如果不是套餐就把套餐名称滞空-->
                                <p title="套餐名称">7360套餐</p>
                                <p title="项目名称">项目名称</p>
                                <p>服务时间:3-5 10:22:10</p>
                                <p>订单状态:正在进行中</p>
                                <p>评价:服务特别好，很喜欢这次的体验，据对好评！</p>
                            </div>
                        </a>
                    </dd>
                    <dd class="orderBottom">
                        <p class="money">实付款:<span class="moneyIcon">¥</span><span class="moneyNum">54</span><span class="moneyIcon">.00</span></p>
                        <a href="" class="buyAgain">再次预约</a>
                        <a href="./orderInfo" class="info">订单详情</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </section>
</article>
<script>
    $(function () { // window.onload
        init();
    })

    function init(){ //初始化函数
        NavChange (); // 初始化导航条点击
    }
    function NavChange (){ //导航条点击时的css样式变换
        var $navList = $('.navList')
        var $JsShow =$('.js-show');
        $navList.on('tap', function () {
            $navList.find('span').removeClass('bottomLine');
            $(this).find('span').addClass('bottomLine');
            if($(this).index() === 0){
                /* 如果第一个按钮被点击了怎添加这些样式 */
                $JsShow.css('display','none');
                $JsShow.eq($(this).index()).css('display','block')
            }
            /* 如果第二个按钮被点击了怎添加这些样式 */
            else if($(this).index() === 1){
                $JsShow.css('display','none');
                $JsShow.eq($(this).index()).css('display','block')
            }
            /* 如果第三个按钮被点击了怎添加这些样式 */
            else if($(this).index() === 2){
                $JsShow.css('display','none');
                $JsShow.eq($(this).index()).css('display','block')
            }
        })
    }
</script>
</body>
</html>