<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <meta name="copyright" content="Copyright (c) 水车 2016">
    <meta name="Keywords" content="花之吻，关于我们">
    <meta name="description" content="花之吻（KISS FLOVE）美容连锁集团是一家专业从事女子SPA会所连锁经营大型集团公司">
    <link rel="stylesheet" href="../../../res/css/orderInfo.css">
    <script src="../../../res/js/zepto.min.1.1.6.js"></script>
    <script>
        var $html = $('html');
        $html.css('font-size',$html.width()/12)
    </script>
    <title>全部订单</title>
</head>
<body style="font-size: 16px;">
<header>
    <img src="../../../res/images/orderList/banner.jpg" alt="">
</header>

<section>
    <div class="care">
        <div class="wrap">
            <div class="title">
                <div class="name">订单详情</div>
                <div class="No">订单号:123423534523445</div>
            </div>
            <div  class="orderName">
                <img src="../../../res/images/orderInfo/1b.png" alt="">
                <div class="information">
                    <!--如果不是套餐就把套餐名称滞空-->
                    <p title="套餐名称">7360套餐</p>
                    <p title="项目名称">项目名称</p>
                    <p>服务时间:3-5 10:22:10</p>
                    <p>订单状态:正在进行中</p>
                    <p>评价:服务特别好，很喜欢这次的体验，据对好评！</p>
                </div>
            </div>
        </div>
    </div>
    <div class="careInfo">
        <div class="wrap">
            <div class="title">
                <div class="name">服务详情</div>
            </div>
            <div  class="orderName">
                <img src="../../../res/images/orderInfo/1b.png" alt="">
                <div class="information">
                    <!--如果不是套餐就把套餐名称滞空-->
                    <p title="项目名称">项目名称</p>
                    <p>服务时间:3-5 10:22:10</p>
                    <p>订单状态:正在进行中</p>
                    <p>评价:服务特别好，很喜欢这次的体验，据对好评！</p>
                </div>
            </div>
        </div>
        <div class="pay">
            <p><span class="left">7360护理</span><span class="right">￥199</span></p>
            <p><span class="left">抵用优惠卷</span><span class="right">-￥0</span></p>
            <p><span class="left">实付款</span><span class="right">￥199</span></p>
        </div>
        <div class="step">
            <div class="line"></div>
            <ul>
                <li><div class="stepList stepBg"><p>已经下单</p></div></li>
                <li><div class="stepList stepBg"><p>支付成功</p></div></li>
                <li><div class="stepList"><p>已经出发</p></div></li>
                <li><div class="stepList"><p>开始服务</p></div></li>
                <li><div class="stepList"><p>服务完成</p></div></li>
                <li><div class="stepList"><p>客户评价</p></div></li>
            </ul>
        </div>
    </div>
</section>
<footer>
    <a href="./orderList">返回</a>
</footer>
<script>
    $(function () { // window.onload
        init();
    })
    function init(){ //初始化函数

    }
</script>
<div style="height: 120px;"> </div>
</body>
</html>