<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width,user-scalable=no">
    <meta name="copyright" content="Copyright (c) 水车 2016">
    <meta name="Keywords" content="花之吻，关于我们">
    <meta name="description" content="花之吻（KISS FLOVE）美容连锁集团是一家专业从事女子SPA会所连锁经营大型集团公司">
    <link rel="stylesheet" href="../../../res/css/about.css">
    <title>flex测试</title>
    <style>
        .father{
            min-height: 200px;
            background-color: #000;
        }
        .child{
            height: 50px;
            width: 300px;
            background-color: red;
        }
    </style>
</head>
<body>
<div class="father">
    aaa
    <div class="child"></div>
</div>

</body>
</html>